<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bharath.crazymaze" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameOver"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_game_over"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Level1"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_level1"
            android:screenOrientation="landscape" >
            >
        </activity>
        <activity
            android:name=".LevelSelector"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_level_selector"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".LevelShifter"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_level_shifter"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Level2"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_level2"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Level3"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_level3"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".YouWon"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_you_won"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".Intro"
            android:label="@string/title_activity_intro"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
